esphome:
  name: esphome-web-1d95ee
  friendly_name: D1Mini_WindIndicator
  min_version: 2025.9.0
  name_add_mac_suffix: false

esp8266:
  board: d1_mini

# Enable logging
logger:

# Enable Home Assistant API
api:
  # Triggered when Home Assistant disconnects (or Wi-Fi drops)
  on_client_disconnected:
    - logger.log: "Home Assistant disconnected! Safety shutdown triggered."
    - output.set_level:
        id: pwm_output
        level: 0.0

# Allow Over-The-Air updates
ota:
- platform: esphome

wifi:
  min_auth_mode: WPA2
  ssid: !secret wifi_ssid
  password: !secret wifi_password

output:
  - platform: esp8266_pwm
    pin: GPIO5 # Pin D1
    frequency: 1000 Hz
    id: pwm_output
    min_power: 0
    max_power: 0.77

sensor:
  - platform: homeassistant
    id: ha_wind_speed
    #entity_id: sensor.pirateweather_wind_speed
    entity_id: input_number.test_fake_wind_speed
    name: "PWM Wind Speed Control"
    # internal: true # Set to true so this normalized value isn't sent BACK to HA
    
    # Process the value immediately using filters
    filters:
      # The scale is not entirely linear so use
      # a calibration curve.
      - calibrate_linear:
        - 0.0 -> 0.0
        - 4 -> 0.011
        - 6 -> 0.043
        - 8 -> 0.075
        - 10 -> 0.106
        - 12 -> 0.138
        - 14 -> 0.180
        - 16 -> 0.217
        - 18 -> 0.264
        - 20 -> 0.296
        - 22 -> 0.343
        - 24 -> 0.374
        - 26 -> 0.422
        - 28 -> 0.469
        - 30 -> 0.500
        - 32 -> 0.548
        - 34 -> 0.595
        - 36 -> 0.643
        - 38 -> 0.690
        - 40 -> 0.737
        - 42 -> 0.785
        - 44 -> 0.832
        - 46 -> 0.879
        - 48 -> 0.942
        - 50 -> 1
      
      # Clamp the value from 0 to 1
      - lambda: |-          
          // Clamp the value to ensure it never exceeds 0.0 - 1.0 range
          if (x > 1.0) return 1.0;
          if (x < 0.0) return 0.0;
          return x;

    # Update the PWM output whenever the normalized value changes
    on_value:
      then:
        - output.set_level:
            id: pwm_output
            level: !lambda 'return x;'
        - logger.log:
            format: "Setting the PWM output to %.2f"
            args: [ 'id(ha_wind_speed).state']